*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Gugi&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+80s+Fade&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&display=swap");

:root {
  --font_default: "Edu AU VIC WA NT Hand", cursive;
}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -700%;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes flip_button {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

body {
  overflow: hidden;
  background-color: #23c9bb;
  cursor: cell;
}

#out {
  background: rgb(246, 246, 246);
  background: linear-gradient(
    0deg,
    rgba(246, 246, 246, 1) 0%,
    rgba(82, 227, 212, 1) 51%,
    rgba(35, 201, 187, 1) 100%
  );
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 110vh;
  display: fixed;
}

h1 {
  width: 50%;
  display: absolute;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  align-items: center;
  font-family: var(--font_default);
  color: aliceblue;
  font-size: 60px;
  text-shadow: 0px 0px 25px#000000;
  z-index: 2;
}

h2#red_text {
  width: 40%;
  margin: 0 auto;
  margin-top: 2%;
  text-align: center;
  align-items: center;
  font-family: var(--font_default);
  font-size: 40px;
  color: rgb(231, 15, 15);
  text-shadow: 0px 0px 25px#000000;
}

h2#counter {
  width: 20%;
  margin: 0 auto;
  margin-top: 2%;
  text-align: center;
  align-items: center;
  font-family: var(--font_default);
  font-size: 30px;
  color: rgb(237, 229, 229);
  text-shadow: 0px 0px 25px#000000;
}

h3#score {
  display: block;
  color: #ffffff;
  border: none;
  width: 10%;
  height: 70px;
  border-radius: 25px;
  font-family: var(--font_default);
  font-size: 40px;
  padding: 30px 30px;
  cursor: cell;
}

a#replay {
  display: none;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  padding: 0px 50px;
  color: #efefef;
  background-color: #39a0bf;
  width: 30%;
  height: 130px;
  border-radius: 25px;
  border: 1px solid #3be4d6;
  font-family: var(--font_default);
  font-size: 50px;
  text-decoration: none;
  cursor: pointer;
}

a#replay:hover {
  color: #3be4d6;
  background-color: #397cbf;
}

a#replay:visited {
  color: #efefef;
}

a#replay:visited:hover {
  color: #3be4d6;
  background-color: #397cbf;
}

#navbar {
  position: absolute;
  justify-content: center;
  background-color: transparent;
  width: 100vw;
  height: 0%;
  z-index: 2;
}

#grid_container {
  position: absolute;
  margin-top: 50%;
  padding: 10%;
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: auto auto auto auto auto auto;
  transition: credits 1s;
  animation: 60s credits linear 1;
  animation-delay: 1s;
  z-index: 0;
}

.grid_block {
  justify-content: center;
  align-items: center;
  padding: 10%;
  width: 60%;
  height: auto;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 0px 25px #000000;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  font-size: 40px;
  /*Animate*/
  animation: shake 1s ease-in-out;
  animation-iteration-count: infinite;
}

#blue {
  background-color: blue;
  cursor: cell;
}

#red {
  background-color: rgb(215, 3, 3);
}

#green {
  background-color: green;
}

#yellow {
  background-color: rgb(255, 208, 0);
}

/*hover*/

@media only screen and (min-width: 1000px) {
  #blue:hover {
    background-color: rgb(75, 150, 255);
    cursor: cell;
  }

  #red:hover {
    background-color: rgb(255, 65, 65);
    cursor: cell;
  }

  #green:hover {
    background-color: rgb(87, 238, 87);
    cursor: cell;
  }

  #yellow:hover {
    background-color: rgb(255, 244, 125);
    cursor: cell;
  }
}

/*active*/

.grid_block#blue:active {
  cursor: not-allowed;
  animation: flip_button 0.1s linear infinite;
}

.grid_block#red:active {
  cursor: copy;
  animation: flip_button 0.1s linear infinite;
}

.grid_block#green:active {
  cursor: not-allowed;
  animation: flip_button 0.1s linear infinite;
}

.grid_block#yellow:active {
  cursor: not-allowed;
  animation: flip_button 0.1s linear infinite;
}

@media only screen and (max-width: 1000px) {
  #grid_container {
    margin-top: 150%;
    animation: 100s credits linear 1;
  }

  .grid_block {
    padding: 3%;
    width: 100%;
    height: 30px;
    border-radius: 25px;
    font-size: 12px;
  }

  h1 {
    width: 100%;
    display: absolute;
    margin-top: 13%;
    text-align: center;
    align-items: center;
    font-family: var(--font_default);
    color: aliceblue;
    font-size: 40px;
    text-shadow: 0px 0px 25px#000000;
    z-index: 2;
  }

  h2#red_text {
    width: 56%;
    margin-top: 2%;
    font-size: 25px;
  }

  h2#counter {
    width: 40%;
    margin-top: 2%;
    font-size: 20px;
  }

  h3#score {
    width: 10%;
    height: 70px;
    border-radius: 25px;
    font-size: 15px;
    padding: 30px 30px;
  }

  a#replay {
    margin-top: 3%;
    width: 50%;
    height: 70px;
    font-size: 30px;
    border: none;
  }

  a#replay:hover {
    color: #3be4d6;
  }

  a#replay:visited {
    color: #efefef;
  }

  a#replay:visited:hover {
    color: #3be4d6;
  }
}
